@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}
