/* poppins-300 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/poppins-300.eot");
    src: local(""), url("/assets/fonts/poppins-300.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/poppins-300.woff2") format("woff2"),
        url("/assets/fonts/poppins-300.woff") format("woff"),
        url("/assets/fonts/poppins-300.ttf") format("truetype"),
        url("/assets/fonts/poppins-300.svg#Poppins") format("svg");
}

/* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/poppins-300.eot");
    src: local(""), url("/assets/fonts/poppins-300.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/poppins-300.woff2") format("woff2"),
        url("/assets/fonts/poppins-300.woff") format("woff"),
        url("/assets/fonts/poppins-300.ttf") format("truetype"),
        url("/assets/fonts/poppins-300.svg#Poppins") format("svg");
}

/* poppins-500 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/poppins-500.eot");
    src: local(""), url("/assets/fonts/poppins-500.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/poppins-500.woff2") format("woff2"),
        url("/assets/fonts/poppins-500.woff") format("woff"),
        url("/assets/fonts/poppins-500.ttf") format("truetype"),
        url("/assets/fonts/poppins-500.svg#Poppins") format("svg");
}

/* poppins-600 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/poppins-600.eot");
    src: local(""), url("/assets/fonts/poppins-600.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/poppins-600.woff2") format("woff2"),
        url("/assets/fonts/poppins-600.woff") format("woff"),
        url("/assets/fonts/poppins-600.ttf") format("truetype"),
        url("/assets/fonts/poppins-600.svg#Poppins") format("svg");
}
