html {
  font-size: var(--default-font-size); /* Base Font size */
}

h1 {
  font-size: 1.75em;
  font-family: var(--font-bold);
}

h2 {
  font-size: 1.5em;
  font-family: var(--font-bold);
}

h3 {
  font-size: 1.2em;
  font-family: var(--font-bold);
}

.container {
  display: block;
  background: linear-gradient(180deg, #5c1253 0%, #0d0a2c 100px);
  padding: var(--default-padding);
}
