/* Core CSS required for Ionic components to work properly */
@import "~@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/react/css/normalize.css";
@import "~@ionic/react/css/structure.css";
@import "~@ionic/react/css/typography.css";

/* Theme variables */
@import "~@ionic/react/css/palettes/dark.class.css";

/* (Optional) This is added to prevent the flashing that happens when toggling between palettes */
ion-item {
  --transition: none;
}

html.ios,
html.md {
  --ion-default-font: "PoppinsMedium", sans-serif;
}
:root {
  /* Light Theme */
  --ion-primary-color: #2c2d2e;
  --ion-background-color: linear-gradient(180deg, #f0f7ff 0%, #f7f7f7 11%);
}

/* Dark Theme */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-primary-color: #fff;
  --ion-background-color: linear-gradient(180deg, #5c1253 0%, #0d0a2c 11%);
}

ion-searchbar {
  padding: 0 !important;

  .searchbar-input-container {
    height: 44px !important;

    .searchbar-input {
      border-radius: 100px !important;
      font-size: 14px;
      padding: 0 3em !important;
    }

    .searchbar-search-icon {
      margin: 0 0.5em !important;
    }
  }
}
