:root {
  --font-bold: "PoppinsBold", sans-serif;
  --default-font-size: 16px;
  --default-padding: 1.5em;
  --color-highlight: #ff0e42;
  --ai-button-bg-color: #fff;
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ai-button-bg-color: #000;
}
