:root {
    --ion-default-font: "Poppins", sans-serif;
    --ion-background-color: #f7f7f7;
    --ion-background-gradient: linear-gradient(
        170deg,
        rgba(255, 31, 162, 0.6) 0%,
        rgba(255, 255, 255, 0) 60%
    );
    --ion-main-bg-color: #fff;
    --ion-primary-color: #343131;
    --ion-searchbar-background: rgba(75, 75, 75, 0.1);

    --icon-padding-end: 0.2rem;
    --icon-padding-start: 0.2rem;
    --ion-tab-color: rgba(9, 3, 3, 0.5);
    --ion-ai-icon-color: #a00095;
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
    --ion-primary-color: #fff;
    --ion-main-bg-color: #1c1c1d;
    --ion-item-background: #1c1c1d;
    --ion-background-gradient: linear-gradient(
        170deg,
        rgba(213, 3, 195, 0.6) 0%,
        rgba(13, 10, 44, 0) 60%
    );
    --ion-background-color: #0d0a2c;
    --ion-searchbar-background: rgba(255, 255, 255, 0.1);
    --ion-tab-color: rgba(255, 255, 255, 0.5);
    --ion-ai-icon-color: #fff;
}

:root.ios {
    --ion-default-font: "Poppins", sans-serif;
}

/* Set text color of the entire app for Material Design only */
:root.md {
    --ion-default-font: "Poppins", sans-serif;
}
