:root {
    --ion-default-font: 'Poppins', sans-serif;
    --ion-background-color: #fff;
    --ion-background-gradient: linear-gradient(
        160deg,
        rgba(255, 31, 162, 1) 0%,
        rgba(255, 255, 255, 1) 20%
    );
    --ion-main-bg-color: #fff;
    --ion-primary-color: #343131;
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
    --ion-primary-color: #fff;
    --ion-item-background: #1c1c1d;
    --ion-background-gradient: linear-gradient(
        160deg,
        rgba(79, 72, 158, 1) 0%,
        rgba(13, 10, 44, 1) 60%
    );
    --ion-background-color: #0d0a2c;
}

:root.ios {
    --ion-default-font: 'Poppins', sans-serif;
}

/* Set text color of the entire app for Material Design only */
:root.md {
    --ion-default-font: 'Poppins', sans-serif;
}
