.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.text {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 16px;
}

.button {
    background-color: transparent;
    border: 0;
    padding: 10px;
    margin-top: 10px;
}
