 .main-content {
     min-height: calc(100vh - 160px);
     position: relative;
     background-color: var(--ion-background-color);
     overflow-x: hidden;
     padding: 8px;
     padding-bottom: 100px;
     color: #fff;
 }