.homepage {
    .header {
        height: 160px;
        padding: 100px 32px 0 32px;
        position: relative;
        z-index: 10;

        h1 {
            color: #fff;
            font-size: 32px;
            font-weight: bold;
            margin: 0;
        }

        img {
            position: absolute;
            bottom: -20px;
            right: 4%;
            width: 100%;
            height: 100%;
            max-width: 160px;
            object-fit: contain;
            object-position: right bottom;
            z-index: 10;
        }
    }
}


.main-content {
    min-height: calc(100vh - 160px);
    position: relative;
    background-color: var(--ion-background-color);
    overflow-x: hidden;
    padding: 8px;
    padding-bottom: 100px;
    color: #fff;
}