.subpage {
    padding: 16px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin-bottom: 16px;
        color: var(--ion-primary-color);
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    a {
        color: var(--ion-primary-color);
        text-decoration: underline;
    }


}
