 .fixed-bottom-button {
     width: 100%;
     height: 148px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     position: fixed;
     bottom: 0;
     left: 0;
     padding: 30px;
     transition: all 0.2s ease-in-out;
     opacity: 1;
     gap: 16px;

     &.disabled {
         bottom: -120px;
         opacity: 0;

         .button {
             opacity: 0;
         }
     }

     &::before {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 0;
         background: rgb(17, 14, 24);
         background: linear-gradient(0deg, rgba(13, 10, 44, 1) 50%, rgba(52, 49, 49, 0) 100%);
         pointer-events: none;

     }

     .w-full {
         width: 100%;
     }

     .button-fix-height {
         width: 100%;
         height: 60px;
     }
 }

 .quick-test-number-of-questions {
     width: 100%;
     background-color: #000;
     padding: 16px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
     margin-bottom: 20px;

     &__title {
         font-size: 14px;
         font-weight: 600;
         color: #fff;
         white-space: nowrap;
         margin: 0;
         margin-right: auto;

     }

     &__item {
         border-radius: 30px;
         width: 28px;
         height: 28px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 14px;
         line-height: 1;
         font-weight: 600;
         color: #fff;

         &.active {
             box-shadow: 0 0 0 2px rgb(255, 255, 255);
         }
     }
 }