.text_list_item {
    width: 100%;
    display: block;
    margin-bottom: 10px;

    :global {
        .link-item-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 0;
            color: var(--ion-primary-color);
            font-weight: 500;
        }

        .link-item {
            display: flex;
            flex-direction: column;
            gap: 2px;
            width: 100%;
        }

        .title {
            font-size: 16px;
            font-weight: 700;
            color: var(--ion-primary-color);
        }

        .subtitle {
            font-size: 12px;
            font-weight: 500;
            opacity: 0.5;
        }

        .page {
            font-size: 12px;
            opacity: 0.35
        }

        svg {
            color: var(--ion-primary-color);
            min-width: 24px;
            width: 24px;
            margin-left: 10px;
        }

        .tree-points {
            display: block;
            border: 0;
            background-color: var(--ion-primary-color);
            width: 8px;
            height: 8px;
            opacity: 0.2;
            border-radius: 100%;
            justify-items: flex-start;
            margin: 0;
            position: relative;
            overflow: visible;

            &::before {
                content: '';
                display: block;
                min-width: 8px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: var(--ion-primary-color);
                position: absolute;
                top: 0;
                left: 12px;
            }

            &::after {
                content: '';
                display: block;
                width: 8px;
                min-width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: var(--ion-primary-color);
                position: absolute;
                top: 0;
                left: 24px;
            }
        }
    }
}

.masonry_list_main {
    display: block;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    column-count: 2;
}

.masonry_list_main_item {
    width: calc(100% - 5px);
    display: inline-block;
    padding: 16px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
}

.masonry_list_main_title {
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.modal_image {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-main-bg-color);
    x


    img {
        border-radius: 15px;
        overflow: hidden;
    }
}

.modal_content_body {
    text-align: center;
    width: 100%;
    padding: 30px;
    color: var(--ion-primary-color);
    font-weight: bold;
}
