.mock-test {
    width: 100%;

    &__dummy-img {
        width: calc(100% + 6em);
        margin-left: -3em;
        margin-right: -3em;
        position: relative;
        padding: 0;


        img {
            width: 100%;
            height: 170px;
            object-fit: cover;
            object-position: center;
            position: relative;
            z-index: 0;
        }
    }

    &__dummy-img-text {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 15%;
        left: 0;
        z-index: 1;
        font-size: 13px;
        opacity: 0.5;
    }

    &__body {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.6;
        gap: 2em;
        margin-top: 20px;

        &--left {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__title {
        font-size: 13px;
    }

    &__score {
        font-size: 26px;
        font-style: italic;
        font-weight: bold;
    }

    &__clock {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        font-size: 14px;
        font-weight: 500;
    }

    &__line-chart {
        width: 100%;
    }

    &__topics {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &__topics-list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__topic {
        border-radius: 20px;
        border: 1px solid #4321FE;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 16px;
        color: #fff;

        &-title {
            font-size: 13px;
            font-weight: 600;

        }
    }

    &__chart-container {
        width: calc(100% + 6em);
        margin-left: -3em;
        margin-right: -3em;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__line-chart {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;


    }
}