.hazard-perception-video-finished {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;

    .title {
        text-align: center;
        font-family: var(--font-bold);
        color: var(--color-secondary);
        font-size: 18px;

        span {
            display: block;
            margin-top: 10px;
            font-size: 80px;
            font-style: italic;
        }
    }

    .content-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
        position: relative;

        .btn {
            width: 100%;
            border-radius: 100px;
            background: linear-gradient(90deg, #A9F1DF 0%, #FBB 100%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #343131;
            padding: 15px 30px;
            text-align: center;
            position: relative;

            svg {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);

                path {
                    fill: #343131;
                }
            }
        }



        .lnk {
            color: var(--color-secondary);
            text-decoration: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 18px;
            display: block;
            position: relative;

            svg {
                width: 36px;
                height: 36px;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 10px;
            }
        }
    }

    .next-clip {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        .image {
            width: 156px;
            height: auto;
            margin: 0 auto;
            border-radius: 17px;
            border: 2px solid #000;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(104, 104, 255, 0.5);
                mix-blend-mode: color;
                z-index: 1;
            }

            img {
                width: 100%;
                position: relative;
                z-index: 0;
                display: block;
            }

            .code {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;
                color: var(--color-secondary);
                font-family: var(--font-bold);
                font-size: 20px;
                font-style: italic;
            }
        }

        ion-router-link {
            color: var(--color-secondary);
            text-decoration: none;
            font-size: 18px;
            border: none;
        }
    }
}