.hazard-perception-detail {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;

  .title {
    text-align: center;
    font-family: var(--font-bold);
    color: var(--color-secondary);
    font-size: 18px;

    span {
      display: block;
      margin-top: 10px;
      font-size: 36px;
      font-style: italic;
    }
  }

  .video {
    width: calc(100% + var(--default-padding) * 2);
    position: relative;
  }

  .video-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    font-family: var(--font-medium);
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
    max-width: 220px;
    margin: 0 auto;
  }
}

.hazard-perception-detail .flags {
  img {
    position: absolute;
    bottom: 10px;
  }
}

.hazard-perception-detail .play {
  position: absolute;
  left: calc(50% - 24px);
  bottom: calc(50% - 24px);
}
