.translate-button {
  height: 40px;
  width: 40px;
  background-color: var(--header-button-bg);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__selected {
    background-color: black;
  }
}

.loading-dot {
  width: 20px;
  height: 20px;
  background-color: var(--ion-primary-color);
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
  // margin: 10px auto;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
