.page-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 24px;

  &__body {
    font-size: 14px;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
    letter-spacing: -0.5px;
  }

  &__link {
    color: #a799f1;
    text-decoration: underline;
  }

  &__icon {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
}