// variables
// primary
$primary: #FF5249;
$secondary: #352494;
$light_blue: #A14EF4;
$light_tealish: #25C8A7;

// import mixins
@import '../../styles/mixin.scss';


.nav_list {
    // grid 2 column
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 4px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-items: center;
    align-self: center;
    justify-self: center;

}

.card {
    display: flex;
    width: 100%;
    height: 193px;
    position: relative;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;

    &:focus,
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    &:global {
        &.primary {
            background: $primary;
            color: color-modifier($primary, 90%);

            :global {
                .redirect_icon {
                    background-color: color-modifier($primary, 30%);
                }
            }
        }

        &.secondary {
            background: $secondary;
            color: color-modifier($secondary, 90%);

            :global {
                .redirect_icon {
                    background-color: color-modifier($secondary, 30%);
                }
            }
        }

        &.light_blue {
            background: $light_blue;
            color: color-modifier($light_blue, 90%);

            :global {
                .redirect_icon {
                    background-color: color-modifier($light_blue, 30%);
                }
            }
        }

        &.light_tealish {
            background: $light_tealish;
            color: color-modifier($light_tealish, 90%);

            :global {
                .redirect_icon {
                    background-color: color-modifier($light_tealish, 30%);
                }
            }
        }


    }


}

.card_title {
    width: 100%;
    padding-right: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.card_desctioption {
    font-size: 1rem;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0;
    color: rgba(255, 255, 255, 0.58);
    font-weight: 600;
}

.card_icon {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    width: 80%;

    :global {
        svg {
            width: 100%;
            height: auto;
        }
    }
}

.redirect_icon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 0;
    pointer-events: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
        svg {
            width: 100%;
            height: auto;
            margin: auto;
        }
    }
}
