.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;

    img {
        border-radius: 100px;
    }
}

.ai_button {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-top: 10px;

    path {
        fill: #fff !important;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}
