.test-answer-card {
    width: 100%;
    background-color: #000000;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    padding: 24px 16px;

    &.wrong {
        background-color: #BB1C30;
    }

    &.correct {
        background-color: rgba(255, 255, 255, 0.07);

        .test-answer-card__status {

            svg,
            path {
                fill: #6AC71A;
            }
        }
    }

    &__status {
        svg {
            width: 12px;
            height: 12px;
            position: relative;
            top: 22px;
        }
    }

    &__question {
        width: 100%;
        max-width: 216px;
        color: #fff;

        .number {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            opacity: 0.5;
        }

        .question {
            font-size: 13px;
            font-weight: 400;
            margin: 0;
        }
    }

    &__link {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

}