.modal {
  :global {
    .wrapper {
      height: 100%;
    }
  }

  &:global {
    &.inline {
      --width: fit-content;
      --min-width: 250px;
      --height: fit-content;
      --border-radius: 6px;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      --background-color: var(--background-color);
    }

    &.full {
      --width: 100%;
      --height: 100%;
      --min-width: 100%;
      --border-radius: 0;
      --background-color: #110F20;


      .wrapper {
        padding: 0;
        height: 100%;
        background: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 16px 16px;
      }
    }

    &.light {
      --background-color: #fff;
      --color: #000;
    }

    &.breakpoint-modal {
      --ion-background-color-step-100: transparent;

      .ion-page {
        background-color: transparent !important;
      }

      .wrapper {
        padding: 60px 40px;
        border-radius: 32px;
        overflow: hidden;
        background-color: #110f20 !important;
        overflow: hidden;
        border-color: #000;
        border-width: 8px;
        border-style: solid;
      }
    }
  }
}

.modal .wrapper {
  margin-bottom: 10px;
}

.close_button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: black;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  :global {
    ion-icon {
      font-size: 52px;
    }
  }
}