.main {
    padding: 0;
    margin: 0;

    :global {
        .searchbar-input {
            border-radius: 30px;
            box-shadow: none;
            background-color: var(--ion-searchbar-background);
        }
    }
}
